{% extends "layout.html" %}

{% block content %}
    <script src="http://pv.sohu.com/cityjson?ie=utf-8" type="text/javascript"></script>
    <script type="text/javascript">
        let returnCitySN = {'cip': '0.0.0.0'};
    </script>
    <script src="https://v.vaptcha.com/v3.js" type="text/javascript"></script>
    <link href="/static/content/signin.css" rel="stylesheet">
    <style>
        .vaptcha-init-main {
            display: table;
            width: 100%;
            height: 100%;
            background-color: #eeeeee;
        }

        .vaptcha-init-loading {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }

        .vaptcha-init-loading > a {
            display: inline-block;
            width: 18px;
            height: 18px;
            border: none;
        }

        .vaptcha-init-loading > a img {
            vertical-align: middle;
        }

        .vaptcha-init-loading .vaptcha-text {
            font-family: sans-serif;
            font-size: 12px;
            color: #cccccc;
            vertical-align: middle;
        }
    </style>
    <div class="modal fade" id="privacy_policy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">用户隐私条款</h4>
                </div>
                <div class="modal-body">
                    <p>以下为【不做评论】的隐私规则条款。</p>
                    <p>
                        您成为本网站用户前务必仔细阅读本隐私条款并同意本隐私条款。作为本网站服务的正常操作程序的一部分，本网站收集、使用并
                        （在一些情况下）向第三方披露有关您的资料。本隐私条款作为本网站服务协议的附件，在您注册成为本网站用户后立即生效，并
                        对您及本网站产生约束力。</p>
                    <h4>一、用户身份限制</h4>
                    <p>
                        未成年人（年龄18周岁以下人士）、限制行为能力人、中国（包括港澳台地区）以外地区人士及自然人以外的组织无资格注册成为
                        本网站用户并使用本网站的服务，本网站要求未成年人、限制行为能力人、中国（包括港澳台地区）以外地区人士及各类组织不要
                        向本网站提交任何个人资料。</p>
                    <h4>二、涉及的个人资料</h4>
                    <p>本网站收集个人资料的主要目的在于向您提供一个顺利、有效和度身订造的交易经历。本网站仅收集本网站认为就此目的及达成该目
                        的所必须的关于您的个人资料。</p>
                    <p>本网站可能自公开及私人资料来源收集您的额外资料，以更好地了解本网站用户，并为其度身订造本网站服务、解决争议并有助确保
                        在网站进行交易的安全性。</p>
                    <p>本网站按照您在本网站网址上的行为自动追踪关于您的某些资料。本网站利用这些资料进行有关本网站之用户的人口统计、兴趣及行
                        为的内部研究，以更好地了解您以便向您和本网站的用户社区提供更好的服务。</p>
                    <p>
                        本网站在本网站的某些网页上使用诸如“Cookies”的资料收集装置。“Cookies”是设置在您的硬盘上的小档案，以协助本网站为您
                        提供度身订造的服务。本网站亦提供某些只能通过使用“Cookies”才可得到的功能。本网站还利用“Cookies”使您能够在某段期间
                        内减少输入密码的次数。“Cookies”还可以协助本网站提供专门针对您的兴趣而提供的资料。</p>
                    <p>如果您将个人通讯信息（例如：手机短信、电邮或信件）交付给本网站，或如果其他用户或第三方向本网站发出关于您在本网站上的
                        活动或登录事项的通讯信息，本网站可以将这些资料收集在您的专门档案中。</p>
                    <h4>三、本网站对您的资料的使用</h4>
                    <p>
                        您同意本网站可使用关于您的个人资料（包括但不限于本网站持有的有关您的档案中的资料，及本网站从您目前及以前在本网站上
                        的活动所获取的其他资料）以解决争议、对纠纷进行调停、有助于确保在本网站进行安全交易，并执行本网站的用户协议。本网站
                        有时候可能调查多个用户以识别问题或解决争议，特别是本网站可审查您的资料以区分使用多个用户名或别名的用户。
                        为限制在网站上的欺诈、非法或其他刑事犯罪活动，使本网站免受其害，您同意本网站可通过人工或自动程序对您的个人资料进行
                        评价。</p>
                    <p>
                        您同意本网站可以使用您的个人资料以改进本网站的推广和促销工作、分析网站的使用率、改善本网站的内容和产品推广形式，并
                        使本网站的网站内容、设计和服务更能符合用户的要求。这些使用能改善本网站的网页，以调整本网站的网页使其更能符合您的需
                        求，从而使您在使用本网站服务时得到更为顺利、有效、安全及度身订造的交易体验。</p>
                    <p>
                        您同意本网站利用您的资料与您联络并（在某些情况下）向您传递针对您的兴趣而提供的信息，例如：有针对性的广告条、行政管
                        理方面的通知、产品提供以及有关您使用本网站的通讯。您接受服务协议和隐私条款即为明示同意收取这些资料。</p>
                    <h4>四、本网站对您的资料的修改或删除</h4>
                    <p>您可以授权本网站帮助您修改您在本网站填写的一切个人资料。如您违反服务协议等本网站规则或法律规定，本网站有权经电子邮
                        件告知后在网站数据库中删除您的个人资料、关闭账户或者限制您使用本网站。</p>
                    <p>网站有权根据实际审核结果在不通知您的情况下对您所填写的与事实不符的资料进行修正或更改。</p>
                    <h4>五、本网站对您的资料的披露</h4>
                    <p>本网站采用行业标准惯例以保护您的个人资料，但鉴于技术限制，本网站不能确保您的全部私人通讯及其他个人资料不会通过本隐私
                        条款中未列明的途径泄露出去，对此本网站不承担任何责任。</p>
                    <p>
                        本网站有权根据有关法律和监管要求，本网站风险控制要求以及相关协议要求向司法机关等政府部门、社会组织或团体、其他第三
                        方服务或合作机构提供您的个人资料。在您未能按照与本网站签订的服务协议、居间协议或者与本网站企业用户签订的借款（担保）
                        协议的约定履行自己应尽的义务时，本网站有权根据自己的判断或者与该笔交易有关的其他用户的请求披露您的个人资料，并作出
                        评论。</p>
                    <h4>六、您对其他用户的资料的使用</h4>
                    <p>在本网站提供的交易活动中，您无权要求本网站提供其他用户的个人资料，除非符合以下条件：</p>
                    <p>（1）您已向法院起诉其他用户的在本网站活动中的违约行为；</p>
                    <p>（2）本网站被吊销营业执照、解散、清算、宣告破产或者其他有碍于您收回借款本息的情形。</p>
                    <h4>七、电子邮件</h4>
                    <p>您不得使用本网站提供的服务或其他电子邮件转发服务发送垃圾邮件或其他可能影响本网站系统运行或违反本网站的用户协议或隐
                        私条款的内容。</p>
                    <p>
                        如果您利用本网站的服务向没有在本网站内注册的电子邮件地址发出电子邮件,本网站除了利用该电子邮件地址发出您的电子邮件
                        之外将不作任何其他用途。本网站不会出租或出售这些电子邮件地址。本网站不会永久储存电子邮件信息或电子邮件地址。</p>
                    <h4>八、密码的安全性</h4>
                    <p>您须对使用您的用户名和密码所采取的一切行为负责。因此，本网站建议您不要向任何第三方披露您在本网站的用户名和密码。</p>
                    <h4>九、规则修改</h4>
                    <p>本网站可能不时按照您的意见和本网站的需要修改本隐私条款，以准确地反映本网站的资料收集及披露惯例。本条款的所有修改，在
                        本网站公布有关修改内容后自动生效或在该等条款指定的日期生效。</p>
                    <p></p>
                    <p>不做评论</p>
                    <p>2020年11月22日</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">我已知悉</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <div class="alert alert-success" role="alert" id="success_login" style="display: none">
        <strong>注册成功！</strong>
    </div>
    <div class="alert alert-warning" role="alert" id="warn_adblock" style="display: none">
        <strong>警告：</strong>系统检测到您正在使用浏览器的反广告插件（如AdBlock、uBlock等），这将会影响登录验证插件的运行，为了保证登录过程顺利，请为该网站添加白名单。
    </div>
    <div class="alert alert-danger" role="alert" id="err_verify" style="display: none">
        <strong>请先通过人机交互验证！</strong>
    </div>
    <div class="alert alert-danger" role="alert" id="err_u_o_p" style="display: none"></div>
    <div class="row">
        <div class="text-center">
            <img class="img-rounded" src="static/imgs/logo.png" alt="">
        </div>
    </div>
    <div class="row">
        <div class="container">
            <form class="form-signin">
                <h2 class="form-signin-heading">不做评论<small> 注册页面</small></h2>
                <label for="username" class="sr-only">用户名</label>
                <input type="text" id="username" class="form-control" placeholder="用户名" required
                       autofocus>
                <p class="text-info">用户名要求：长度2-16位，由数字、大小写英文字母和_与-组成。</p>
                <label for="password" class="sr-only">密码</label>
                <input type="password" id="password" class="form-control" placeholder="密码" required>
                <p class="text-info">密码强度建议：长度6-32位，至少有1个英文字母或字符。</p>
                <label for="confirm_password" class="sr-only">确认密码</label>
                <input type="password" id="confirm_password" class="form-control" placeholder="确认密码" required>
                <label for="email" class="sr-only">电子邮箱</label>
                <input type="email" id="email" class="form-control" placeholder="电子邮箱" required>
                <p class="text-warning">注册后，您可以在电子邮箱中找到激活链接，请在1小时内激活您的账户，否则需要重新注册。</p>
                <!-- 点击式按钮建议高度介于36px与46px  -->
                <div id="vaptchaContainer" style="width: 300px;height: 36px;">
                    <!--vaptcha-container是用来引入VAPTCHA的容器，下面代码为预加载动画，仅供参考-->
                    <div class="vaptcha-init-main">
                        <div class="vaptcha-init-loading">
                            <a href="/" target="_blank">
                                <img src="https://r.vaptcha.net/public/img/vaptcha-loading.gif"/>
                            </a>
                            <span class="vaptcha-text">正在加载验证组件...</span>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-lg btn-primary btn-block" id="login_button">注册</button>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                        <a role="button" class="btn btn-default btn-block" href="/login" id="reg_button">登录</a>
                    </div>
                </div>
                <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#privacy_policy">隐私政策
                </button>
            </form>
        </div>
    </div> <!-- /container -->
    <script src="https://v.vaptcha.com/v3.js" type="text/javascript"></script>
    <script type="text/javascript">
        if (returnCitySN['cip'] === '0.0.0.0') {
            document.getElementById('warn_adblock').style = "";
        }
        let verify_passed = false
        vaptcha({
            vid: "5f11cf308d41fe366eb1e82a",
            type: "click",
            scene: 2,
            container: "#vaptchaContainer",
            offline_server: "",
            lang: 'auto',
            https: true,
            color: '#000cff'
        }).then(function (vaptchaObj) {
            verify_obj = vaptchaObj;
            vaptchaObj.render();
            vaptchaObj.listen("pass", function () {
                //验证通过
                verify_passed = true
            });
            vaptchaObj.listen("close", function () {
                vaptchaObj.reset()
                verify_passed = false
            });
        });
        $('#login_button').click(
            function () {
                let token = verify_obj.getToken()
                let username = document.getElementById('username').value
                let password = document.getElementById('password').value
                if ((username === "") || (password === "")) {
                    document.getElementById('err_u_o_p').style = "";
                    document.getElementById('err_u_o_p').innerHTML = "请输入用户名和密码！";
                    verify_obj.reset();
                    verify_passed = false
                    return 0;
                }
                u_pattern = /^[a-zA-Z0-9_-]{2,16}$/
                if (u_pattern.test(username) === false) {
                    document.getElementById('err_u_o_p').style = "";
                    document.getElementById('err_u_o_p').innerHTML = "用户名不合法！";
                    verify_obj.reset();
                    verify_passed = false
                    return 0;
                }
                if (!((verify_passed) && (token !== ''))) {
                    document.getElementById('err_verify').style = "";
                    verify_obj.reset();
                    verify_passed = false
                    return 0;
                }
                document.getElementById('login_button').className = "btn btn-lg btn-primary btn-block disabled";
                document.getElementById('login_button').innerText = "请稍后..."
                let data = {
                    username: username,
                    password: password,
                    token: token,
                    ip: returnCitySN["cip"],
                    remember_me: document.getElementById('remember_me').checked,
                };
                $.post("do_login", data, function (r) {
                    if (r.code !== 200) {
                        document.getElementById('err_u_o_p').style = "";
                        document.getElementById('err_u_o_p').innerHTML = r.msg;
                        verify_obj.reset();
                        verify_passed = false
                        document.getElementById('login_button').className = "btn btn-lg btn-primary btn-block";
                        document.getElementById('login_button').innerText = "再次登录"
                    } else {
                        document.getElementById('success_login').style = "";
                        window.location.href = "{{ url_to }}";
                    }
                });
            }
        );

    </script>
{% endblock %}
