# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\天翼云同步盘\OneDrive - 新北市私立恒毅高级中学\编程\flask_login_panel\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
